<div class="container py-5">
  <!-- Order Details -->
  <div class="row">
    <!-- Product Information Column -->
    <div class="col">
      <div class="card mb-3">
        <div class="row g-0">
          <div class="col mx-1">
            <%= image_tag line_item.product.image.thumb.url%>
            <div class ="my-5">
              <p class="card-text"><small class="text-muted">Unit price: $<%= line_item.product.price %></small></p>
              <p class="card-text"><small class="text-muted">Quantity: <%= line_item.quantity %></small></p>
            </div>
          </div>
          <div class="col">
            <div class="card-body">
              <h5 class="card-title"><b><%= line_item.product.name %></b></h5>
              <p class="card-text"><%= line_item.product.description %></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
